header {
  background: rgba(217, 217, 217, 0);
  position: relative;
  z-index: 2;
  padding: 20px 36px;
  width: 100vw;
}
header .header-container {
  width: 100%;
  height: 100%;
}
header .header-container .logo-link {
  width: 25vw;
  height: 100%;
  text-decoration: none;
}
header .header-container .logo-link .logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .header-container .logo-link .logo-icon {
  width: 64px;
}
header .header-container .logo-link .logo-title {
  margin-left: 14px;
  font-family: "Days One", sans-serif;
  font-size: 42px;
  font-weight: 900;
  color: #F7C441;
  letter-spacing: 1.6px;
  -webkit-text-stroke: 2px #B88400;
}
@media (width < 421px) {
  header .header-container .logo-link .logo-icon {
    width: 48px;
  }
  header .header-container .logo-link .logo-title {
    font-size: 28px;
    -webkit-text-stroke: 1px #B88400;
  }
}
@media (width < 421px) {
  header .logo-container {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=HeaderComponent.css.map */