@import '../../../styles/mixins';
@import '../../../styles/variables';



header {
    background: rgba(217, 217, 217, 0);

    position: relative;
    z-index: 2;

    padding: 20px 36px;
    
    width: 100vw;

    .header-container {
        width: 100%;
        height: 100%;
    }

    .header-container .logo-link {
        width: 25vw;
        height: 100%;
        
        text-decoration: none;

        .logo-container {
            @include displayFlexByDirection(row);
        }

        .logo-icon {
            width: 64px;
        }

        .logo-title {
            margin-left: 14px;

            font-family: $logo-font-family;
            font-size: 42px;
            font-weight: 900;
            color: $heading-text-color;
            letter-spacing: 1.6px;
            -webkit-text-stroke: 2px $border-main-color;
        }
        @media (width < 421px) {
            .logo-icon {
                width: 48px;
            }
            .logo-title {
                font-size: 28px;
                -webkit-text-stroke: 1px $border-main-color;
            }
        }
    }
    @media (width < 421px) {
        .logo-container {
            margin: 0;
            padding: 0;
            width: 100%;
            @include displayCenterFlex();
        }
        
    }
}