@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;700&family=Montserrat:wght@100;200;400;500;700&display=swap");
.card {
  width: 296px;
  height: 198px;
  background-color: #f7c441;
  border-radius: 12px;
}
.card .card-container {
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card .card-container .card-content {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: start;
  justify-content: space-between;
}
.card .card-container .card-content .excursion-title {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  font-size: 3.1cqi;
  color: #B88400;
  line-height: normal;
  text-transform: uppercase;
  -webkit-text-stroke: 0.5px #624700;
  -webkit-text-fill-color: #B88400;
  margin-bottom: 10px;
}
.card .card-container .card-content .exc-info-short {
  font-size: 2.1cqi;
  color: #fff;
  line-height: normal;
}
.card .card-container .card-content .to-exc-page-btn {
  width: 130px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  background-color: #B88400;
  color: #fff;
  border-radius: 10px;
  transition: 0.2s;
}
.card .card-container .card-content .to-exc-page-btn:hover {
  background-color: #ff9c08;
  color: #000;
}
@media (width > 480px) {
  .card .card-container .card-content .excursion-title {
    font-size: 2.2cqi;
    -webkit-text-stroke: 1px #624700;
  }
  .card .card-container .card-content .exc-info-short {
    font-size: 1.7cqi;
  }
  .card .card-container .card-content .to-exc-page-btn {
    height: 40px;
    width: 70%;
    font-size: 18px;
    border-radius: 16px;
  }
}
@media (width > 1100px) {
  .card .card-container .card-content .excursion-title {
    font-size: 1.55cqi;
    -webkit-text-stroke: 1px #624700;
  }
  .card .card-container .card-content .exc-info-short {
    font-size: 1.1cqi;
  }
  .card .card-container .card-content .to-exc-page-btn {
    height: 40px;
    width: 70%;
    font-size: 18px;
    border-radius: 16px;
    cursor: pointer;
  }
}
.card .card-container .card-in-progress-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card .card-container .card-in-progress-content .excursion-title {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  font-size: 4.5cqi;
  color: #B88400;
  line-height: normal;
  text-transform: uppercase;
  -webkit-text-stroke: 0.5px #624700;
  -webkit-text-fill-color: #B88400;
  margin-bottom: 10px;
}
.card .card-container .card-in-progress-content .exc-info-short {
  font-size: 4cqi;
  color: #fff;
  line-height: normal;
}
.card .card-container .card-in-progress-content .in-progress-icon {
  width: 70px;
  margin-bottom: 10px;
}
@media (width > 1100px) {
  .card .card-container .card-in-progress-content .excursion-title {
    font-size: 2.3cqi;
    -webkit-text-stroke: 1px #624700;
  }
  .card .card-container .card-in-progress-content .exc-info-short {
    font-size: 1.6cqi;
  }
  .card .card-container .card-in-progress-content .in-progress-icon {
    width: 120px;
  }
}
.card .card-container .image-container {
  width: 40%;
  height: 100%;
  border-radius: 10px;
  background-image: url("../../../../public/images/card-bg-phone.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -60px 0px;
}
@media (width > 480px) {
  .card .card-container .image-container {
    background-position: -100px 0px;
    border-radius: 16px;
  }
}
@media (width > 480px) {
  .card .card-container {
    padding: 25px;
  }
}

@media (width > 480px) {
  .card {
    width: 560px;
    height: 362px;
    border-radius: 20px;
  }
}/*# sourceMappingURL=ExcursionCardComponent.css.map */