@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;700&family=Montserrat:wght@100;200;400;500;700&display=swap");
.exc-page-container {
  height: 100%;
  background: #2E2E2F;
}
@media (width > 480px) {
  .exc-page-container {
    min-height: 100vh;
  }
}

main .exc-page-content {
  width: 100%;
  min-height: 900px;
  padding: 20px;
  padding-top: 5px;
  background-color: #2E2E2F;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-family: "Montserrat", sans-serif;
}
@media (width > 480px) {
  main .exc-page-content {
    align-items: start;
    padding: 10px 0px 0px 70px;
    gap: 20px;
    min-height: 1000px;
  }
}
main .exc-page-content .exc-page-hero {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-mask-image: linear-gradient(180deg, black -50%, transparent);
          mask-image: linear-gradient(180deg, black -50%, transparent);
}
@media (width > 480px) {
  main .exc-page-content .exc-page-hero {
    -webkit-mask-image: linear-gradient(180deg, black -150%, transparent);
            mask-image: linear-gradient(180deg, black -150%, transparent);
  }
}
main .exc-page-content .exc-heading {
  z-index: 2;
  font-family: "Montserrat Alternates", sans-serif;
  color: #F7C441;
  font-weight: bold;
  -webkit-text-stroke: 1px #B88400;
  font-size: 7cqi;
  text-align: center;
  margin-bottom: 20px;
}
@media (width > 480px) {
  main .exc-page-content .exc-heading {
    font-family: "Days One", sans-serif;
    -webkit-text-stroke: 2px #B88400;
    font-size: 3.8cqi;
  }
}
main .exc-page-content .timing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  z-index: 2;
}
main .exc-page-content .timing .exc-dur-icon {
  width: 20px;
}
main .exc-page-content .timing .exc-dur-title {
  color: #F7C441;
  font-weight: bold;
  font-size: 14px;
}
main .exc-page-content .timing .exc-dur {
  color: #fff;
  font-weight: normal;
  font-size: 14px;
}
@media (width > 480px) {
  main .exc-page-content .timing {
    margin-bottom: 10px;
  }
  main .exc-page-content .timing .exc-dur-icon {
    width: 42px;
  }
  main .exc-page-content .timing .exc-dur-title {
    font-size: 25px;
  }
  main .exc-page-content .timing .exc-dur {
    font-size: 25px;
  }
}
main .exc-page-content .excursion-info {
  padding: 20px 30px 20px 30px;
  color: #fff;
  z-index: 2;
  white-space: break-spaces;
}
@media (width > 480px) {
  main .exc-page-content .excursion-info {
    padding: 10px;
    font-size: 25px;
  }
}
main .exc-page-content .start-excursion-btn {
  cursor: pointer;
  width: 200px;
  height: 65px;
  z-index: 2;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F7C441;
  border-radius: 12px;
  font-weight: bold;
  color: #fff;
  font-size: 25px;
  transition: 0.2s;
}
main .exc-page-content .start-excursion-btn:hover {
  background-color: #ff9c08;
  color: black;
  width: 220px;
}/*# sourceMappingURL=ExcursionPage.css.map */