@import '../../../styles/mixins';
@import '../../../styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;700&family=Montserrat:wght@100;200;400;500;700&display=swap');


.exc-page-container {
    height: 100%;
    background: $background-color;

    @media (width > 480px) {
        min-height: 100vh;
    }

}
main .exc-page-content {
    width: 100%;
    min-height: 900px;
    padding: 20px;
    padding-top: 5px;
    background-color: $background-color;
    @include displayFlexByDirection(column);
    gap: 10px;

    font-family: $main-text-font-family;

    @media (width > 480px) {
        align-items: start;
        padding: 10px 0px 0px 70px;
        gap: 20px;  
        min-height: 1000px;
    }

    .exc-page-hero {
        width: 100vw;

        position: absolute;
        top: 0;
        left: 0;

        object-fit: cover;
        mask-image: linear-gradient(180deg,black -50%, transparent);

        @media (width > 480px) {
            mask-image: linear-gradient(180deg,black -150%, transparent);
        }
    }

    .exc-heading {
        z-index: 2;

        font-family: $headings-font-family;
        color: $heading-text-color;
        font-weight: bold;
        -webkit-text-stroke: 1px $border-main-color;
        font-size: 7cqi;

        text-align: center;
        margin-bottom: 20px;

        @media (width > 480px) {
            font-family: $logo-font-family;
            -webkit-text-stroke: 2px $border-main-color;
            font-size: 3.8cqi;

        }
    }

    .timing {
        @include displayFlexByDirection(row);
        justify-content: space-between;
        gap: 10px;

        z-index: 2;

        .exc-dur-icon {
            width: 20px;
        }

        .exc-dur-title {
            color: $heading-text-color;
            font-weight: bold;
            font-size: 14px;
        }

        .exc-dur {
            color: #fff;
            font-weight: normal;
            font-size: 14px;
        }

        @media (width > 480px) {
            margin-bottom: 10px;

            .exc-dur-icon {
                width: 42px;
            }

            .exc-dur-title {
                font-size: 25px;
            }

            .exc-dur {
                font-size: 25px;
            }
        }
    }

    .excursion-info {
        padding: 20px 30px 20px 30px;
        color: #fff;

        z-index: 2;
        white-space: break-spaces;

        @media (width > 480px) {
            padding: 10px;
            font-size: 25px;
        }
    }

    .start-excursion-btn {
        cursor: pointer;
        width: 200px;
        height: 65px;

        z-index: 2;

        margin-top: 20px;

        @include displayCenterFlex();

        background-color: $heading-text-color;
        border-radius: 12px;

        font-weight: bold;
        color: #fff;
        font-size: 25px;

        transition: .2s;

        &:hover {
            background-color: #ff9c08;
            color: black;
            width: 220px;
        }
    }
}