@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;700&family=Montserrat:wght@100;200;400;500;700&display=swap");
body {
  overflow-y: scroll;
  overflow-x: hidden;
}
@media (width > 1800px) {
  body {
    overflow: hidden;
  }
}

.excs-page-container {
  width: 100%;
  min-height: 700px;
  background: #2E2E2F;
}
.excs-page-container .excs-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 60px;
  gap: 30px;
}
.excs-page-container .excs-page-content .excs-filter {
  margin-bottom: 10px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
  color: #F7C441;
  font-size: 28px;
  text-align: center;
}
.excs-page-container .excs-page-content .excs-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media (width > 480px) {
  .excs-page-container .excs-page-content {
    align-items: start;
  }
  .excs-page-container .excs-page-content .excs-filter {
    font-size: 32px;
  }
  .excs-page-container .excs-page-content .excs-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (width > 480px) {
  .excs-page-container {
    min-height: 900px;
  }
}/*# sourceMappingURL=Excursions.css.map */