@import '../../../styles/mixins';
@import '../../../styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;700&family=Montserrat:wght@100;200;400;500;700&display=swap');


body {
    overflow-y: scroll;
    overflow-x: hidden;

    @media (width > 1800px) {
        overflow: hidden;
    }
}

.excs-page-container {
    width: 100%;
    min-height: 700px;

    background: $background-color;

    .excs-page-content {
        @include displayFlexByDirection(column);

        padding: 10px 60px;

        gap: 30px;

        .excs-filter {
            margin-bottom: 10px;

            font-family: $headings-font-family;
            font-weight: bold;
            color: $heading-text-color;
            font-size: 28px;
            text-align: center;
        }

        .excs-cards {
            width: 100%;
            @include displayFlexByDirection(column);
            gap: 30px;
        }

        @media (width > 480px) {
            align-items: start;
            .excs-filter {
                
            }
            
            .excs-filter {
                font-size: 32px;
            }

            .excs-cards {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
            }
        }
    }

    @media (width > 480px) {
        min-height: 900px;
    }
}